*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
overflow-x: hidden;


}
.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50vh;
    left: 50%;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
    


:root{
    --color-canvas-default-transparent: rgba(255,255,255,0);
    --color-page-header-bg: #f6f8fa;
    --color-marketing-icon-primary: #218bff;
    --color-marketing-icon-secondary: #54aeff;
    --color-diff-blob-addition-num-text: #1F2328;
    --color-diff-blob-addition-fg: #1F2328;
    --color-diff-blob-addition-num-bg: #ccffd8;
    --color-diff-blob-addition-line-bg: #e6ffec;
    --color-diff-blob-addition-word-bg: #abf2bc;
    --color-diff-blob-deletion-num-text: #1F2328;
    --color-diff-blob-deletion-fg: #1F2328;
    --color-diff-blob-deletion-num-bg: #ffd7d5;
    --color-diff-blob-deletion-line-bg: #ffebe9;
    --color-diff-blob-deletion-word-bg: rgba(255,129,130,0.4);
    --color-diff-blob-hunk-num-bg: rgba(84,174,255,0.4);
    --color-diff-blob-expander-icon: #656d76;
    --color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
    --color-diffstat-deletion-border: rgba(31,35,40,0.15);
    --color-diffstat-addition-border: rgba(31,35,40,0.15);
    --color-diffstat-addition-bg: #1f883d;
    --color-search-keyword-hl: #fff8c5;
    --color-prettylights-syntax-comment: #57606a;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-codemirror-text: #1F2328;
    --color-codemirror-bg: #ffffff;
    --color-codemirror-gutters-bg: #ffffff;
    --color-codemirror-guttermarker-text: #ffffff;
    --color-codemirror-guttermarker-subtle-text: #6e7781;
    --color-codemirror-linenumber-text: #656d76;
    --color-codemirror-cursor: #1F2328;
    --color-codemirror-selection-bg: rgba(84,174,255,0.4);
    --color-codemirror-activeline-bg: rgba(234,238,242,0.5);
    --color-codemirror-matchingbracket-text: #1F2328;
    --color-codemirror-lines-bg: #ffffff;
    --color-codemirror-syntax-comment: #24292f;
    --color-codemirror-syntax-constant: #0550ae;
    --color-codemirror-syntax-entity: #8250df;
    --color-codemirror-syntax-keyword: #cf222e;
    --color-codemirror-syntax-storage: #cf222e;
    --color-codemirror-syntax-string: #0a3069;
    --color-codemirror-syntax-support: #0550ae;
    --color-codemirror-syntax-variable: #953800;
    --color-checks-bg: #24292f;
    --color-checks-run-border-width: 0px;
    --color-checks-container-border-width: 0px;
    --color-checks-text-primary: #f6f8fa;
    --color-checks-text-secondary: #8c959f;
    --color-checks-text-link: #54aeff;
    --color-checks-btn-icon: #afb8c1;
    --color-checks-btn-hover-icon: #f6f8fa;
    --color-checks-btn-hover-bg: rgba(255,255,255,0.125);
    --color-checks-input-text: #eaeef2;
    --color-checks-input-placeholder-text: #8c959f;
    --color-checks-input-focus-text: #8c959f;
    --color-checks-input-bg: #32383f;
    --color-checks-input-shadow: none;
    --color-checks-donut-error: #fa4549;
    --color-checks-donut-pending: #bf8700;
    --color-checks-donut-success: #1f883d;
    --color-checks-donut-neutral: #afb8c1;
    --color-checks-dropdown-text: #afb8c1;
    --color-checks-dropdown-bg: #32383f;
    --color-checks-dropdown-border: #424a53;
    --color-checks-dropdown-shadow: rgba(31,35,40,0.3);
    --color-checks-dropdown-hover-text: #f6f8fa;
    --color-checks-dropdown-hover-bg: #424a53;
    --color-checks-dropdown-btn-hover-text: #f6f8fa;
    --color-checks-dropdown-btn-hover-bg: #32383f;
    --color-checks-scrollbar-thumb-bg: #57606a;
    --color-checks-header-label-text: #d0d7de;
    --color-checks-header-label-open-text: #f6f8fa;
    --color-checks-header-border: #32383f;
    --color-checks-header-icon: #8c959f;
    --color-checks-line-text: #d0d7de;
    --color-checks-line-num-text: rgba(140,149,159,0.75);
    --color-checks-line-timestamp-text: #8c959f;
    --color-checks-line-hover-bg: #32383f;
    --color-checks-line-selected-bg: rgba(33,139,255,0.15);
    --color-checks-line-selected-num-text: #54aeff;
    --color-checks-line-dt-fm-text: #24292f;
    --color-checks-line-dt-fm-bg: #9a6700;
    --color-checks-gate-bg: rgba(125,78,0,0.15);
    --color-checks-gate-text: #d0d7de;
    --color-checks-gate-waiting-text: #d4a72c;
    --color-checks-step-header-open-bg: #32383f;
    --color-checks-step-error-text: #ff8182;
    --color-checks-step-warning-text: #d4a72c;
    --color-checks-logline-text: #8c959f;
    --color-checks-logline-num-text: rgba(140,149,159,0.75);
    --color-checks-logline-debug-text: #c297ff;
    --color-checks-logline-error-text: #d0d7de;
    --color-checks-logline-error-num-text: #ff8182;
    --color-checks-logline-error-bg: rgba(164,14,38,0.15);
    --color-checks-logline-warning-text: #d0d7de;
    --color-checks-logline-warning-num-text: #d4a72c;
    --color-checks-logline-warning-bg: rgba(125,78,0,0.15);
    --color-checks-logline-command-text: #54aeff;
    --color-checks-logline-section-text: #4ac26b;
    --color-checks-ansi-black: #24292f;
    --color-checks-ansi-black-bright: #32383f;
    --color-checks-ansi-white: #d0d7de;
    --color-checks-ansi-white-bright: #d0d7de;
    --color-checks-ansi-gray: #8c959f;
    --color-checks-ansi-red: #ff8182;
    --color-checks-ansi-red-bright: #ffaba8;
    --color-checks-ansi-green: #4ac26b;
    --color-checks-ansi-green-bright: #6fdd8b;
    --color-checks-ansi-yellow: #d4a72c;
    --color-checks-ansi-yellow-bright: #eac54f;
    --color-checks-ansi-blue: #54aeff;
    --color-checks-ansi-blue-bright: #80ccff;
    --color-checks-ansi-magenta: #c297ff;
    --color-checks-ansi-magenta-bright: #d8b9ff;
    --color-checks-ansi-cyan: #76e3ea;
    --color-checks-ansi-cyan-bright: #b3f0ff;
    --color-project-header-bg: #24292f;
    --color-project-sidebar-bg: #ffffff;
    --color-project-gradient-in: #ffffff;
    --color-project-gradient-out: rgba(255,255,255,0);
    --color-mktg-btn-bg: #1b1f23;
    --color-mktg-btn-shadow-outline: rgb(0 0 0 / 15%) 0 0 0 1px inset;
    --color-mktg-btn-shadow-focus: rgb(0 0 0 / 15%) 0 0 0 4px;
    --color-mktg-btn-shadow-hover: 0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03), 0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
    --color-mktg-btn-shadow-hover-muted: rgb(0 0 0 / 70%) 0 0 0 2px inset;
    --color-control-border-color-emphasis: #858F99;
    --color-avatar-bg: #ffffff;
    --color-avatar-border: rgba(31,35,40,0.15);
    --color-avatar-stack-fade: #afb8c1;
    --color-avatar-stack-fade-more: #d0d7de;
    --color-avatar-child-shadow: 0 0 0 2px rgba(255,255,255,0.8);
    --color-topic-tag-border: rgba(0,0,0,0);
    --color-counter-border: rgba(0,0,0,0);
    --color-select-menu-backdrop-border: rgba(0,0,0,0);
    --color-select-menu-tap-highlight: rgba(175,184,193,0.5);
    --color-select-menu-tap-focus-bg: #b6e3ff;
    --color-overlay-shadow: 0 1px 3px rgba(31,35,40,0.12), 0 8px 24px rgba(66,74,83,0.12);
    --color-overlay-backdrop: rgba(140,149,159,0.2);
    --color-header-text: rgba(255,255,255,0.7);
    --color-header-bg: #24292f;
    --color-header-divider: #57606a;
    --color-header-logo: #ffffff;
    --color-header-search-bg: #24292f;
    --color-header-search-border: #57606a;
    --color-sidenav-selected-bg: #ffffff;
    --color-menu-bg-active: rgba(0,0,0,0);
    --color-input-disabled-bg: rgba(175,184,193,0.2);
    --color-timeline-badge-bg: #eaeef2;
    --color-ansi-black: #24292f;
    --color-ansi-black-bright: #57606a;
    --color-ansi-white: #6e7781;
    --color-ansi-white-bright: #8c959f;
    --color-ansi-gray: #6e7781;
    --color-ansi-red: #cf222e;
    --color-ansi-red-bright: #a40e26;
    --color-ansi-green: #116329;
    --color-ansi-green-bright: #1a7f37;
    --color-ansi-yellow: #4d2d00;
    --color-ansi-yellow-bright: #633c01;
    --color-ansi-blue: #0969da;
    --color-ansi-blue-bright: #218bff;
    --color-ansi-magenta: #8250df;
    --color-ansi-magenta-bright: #a475f9;
    --color-ansi-cyan: #1b7c83;
    --color-ansi-cyan-bright: #3192aa;
    --color-btn-text: #24292f;
    --color-btn-bg: #f6f8fa;
    --color-btn-border: rgba(31,35,40,0.15);
    --color-btn-shadow: 0 1px 0 rgba(31,35,40,0.04);
    --color-btn-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-hover-border: rgba(31,35,40,0.15);
    --color-btn-active-bg: hsla(220,14%,93%,1);
    --color-btn-active-border: rgba(31,35,40,0.15);
    --color-btn-selected-bg: hsla(220,14%,94%,1);
    --color-btn-counter-bg: rgba(31,35,40,0.08);
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-bg: #1f883d;
    --color-btn-primary-border: rgba(31,35,40,0.15);
    --color-btn-primary-shadow: 0 1px 0 rgba(31,35,40,0.1);
    --color-btn-primary-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
    --color-btn-primary-hover-bg: #1a7f37;
    --color-btn-primary-hover-border: rgba(31,35,40,0.15);
    --color-btn-primary-selected-bg: hsla(137,66%,28%,1);
    --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(0,45,17,0.2);
    --color-btn-primary-disabled-text: rgba(255,255,255,0.8);
    --color-btn-primary-disabled-bg: #94d3a2;
    --color-btn-primary-disabled-border: rgba(31,35,40,0.15);
    --color-btn-primary-icon: rgba(255,255,255,0.8);
    --color-btn-primary-counter-bg: rgba(0,45,17,0.2);
    --color-btn-outline-text: #0969da;
    --color-btn-outline-hover-text: #ffffff;
    --color-btn-outline-hover-bg: #0969da;
    --color-btn-outline-hover-border: rgba(31,35,40,0.15);
    --color-btn-outline-hover-shadow: 0 1px 0 rgba(31,35,40,0.1);
    --color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
    --color-btn-outline-hover-counter-bg: rgba(255,255,255,0.2);
    --color-btn-outline-selected-text: #ffffff;
    --color-btn-outline-selected-bg: hsla(212,92%,42%,1);
    --color-btn-outline-selected-border: rgba(31,35,40,0.15);
    --color-btn-outline-selected-shadow: inset 0 1px 0 rgba(0,33,85,0.2);
    --color-btn-outline-disabled-text: rgba(9,105,218,0.5);
    --color-btn-outline-disabled-bg: #f6f8fa;
    --color-btn-outline-disabled-counter-bg: rgba(9,105,218,0.05);
    --color-btn-outline-counter-bg: #0969da1a;
    --color-btn-outline-counter-fg: #0550ae;
    --color-btn-outline-hover-counter-fg: #ffffff;
    --color-btn-outline-disabled-counter-fg: rgba(9,105,218,0.5);
    --color-btn-danger-text: #cf222e;
    --color-btn-danger-hover-text: #ffffff;
    --color-btn-danger-hover-bg: #a40e26;
    --color-btn-danger-hover-border: rgba(31,35,40,0.15);
    --color-btn-danger-hover-shadow: 0 1px 0 rgba(31,35,40,0.1);
    --color-btn-danger-hover-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
    --color-btn-danger-hover-counter-bg: rgba(255,255,255,0.2);
    --color-btn-danger-selected-text: #ffffff;
    --color-btn-danger-selected-bg: hsla(356,72%,44%,1);
    --color-btn-danger-selected-border: rgba(31,35,40,0.15);
    --color-btn-danger-selected-shadow: inset 0 1px 0 rgba(76,0,20,0.2);
    --color-btn-danger-disabled-text: rgba(207,34,46,0.5);
    --color-btn-danger-disabled-bg: #f6f8fa;
    --color-btn-danger-disabled-counter-bg: rgba(207,34,46,0.05);
    --color-btn-danger-counter-bg: rgba(207,34,46,0.1);
    --color-btn-danger-icon: #cf222e;
    --color-btn-danger-hover-icon: #ffffff;
    --color-btn-danger-counter-fg: #a40e26;
    --color-btn-danger-hover-counter-fg: #ffffff;
    --color-btn-danger-disabled-counter-fg: rgba(207,34,46,0.5);
    --color-btn-inactive-bg: #eaeef2;
    --color-btn-inactive-text: #57606a;
    --color-underlinenav-icon: #6e7781;
    --color-underlinenav-border-hover: rgba(175,184,193,0.2);
    --color-action-list-item-inline-divider: rgba(208,215,222,0.48);
    --color-action-list-item-default-hover-bg: rgba(208,215,222,0.32);
    --color-action-list-item-default-hover-border: rgba(0,0,0,0);
    --color-action-list-item-default-active-bg: rgba(208,215,222,0.48);
    --color-action-list-item-default-active-border: rgba(0,0,0,0);
    --color-action-list-item-default-selected-bg: rgba(208,215,222,0.24);
    --color-action-list-item-danger-hover-bg: rgba(255,235,233,0.64);
    --color-action-list-item-danger-active-bg: #ffebe9;
    --color-action-list-item-danger-hover-text: #d1242f;
    --color-switch-track-bg: #eaeef2;
    --color-switch-track-hover-bg: hsla(210,24%,90%,1);
    --color-switch-track-active-bg: hsla(210,24%,88%,1);
    --color-switch-track-disabled-bg: #8c959f;
    --color-switch-track-fg: #656d76;
    --color-switch-track-disabled-fg: #ffffff;
    --color-switch-track-border: rgba(0,0,0,0);
    --color-switch-track-checked-bg: #0969da;
    --color-switch-track-checked-hover-bg: #0860CA;
    --color-switch-track-checked-active-bg: #0757BA;
    --color-switch-track-checked-fg: #ffffff;
    --color-switch-track-checked-disabled-fg: #ffffff;
    --color-switch-track-checked-border: rgba(0,0,0,0);
    --color-switch-knob-bg: #ffffff;
    --color-switch-knob-disabled-bg: #f6f8fa;
    --color-switch-knob-border: #858F99;
    --color-switch-knob-checked-bg: #ffffff;
    --color-switch-knob-checked-disabled-bg: #f6f8fa;
    --color-switch-knob-checked-border: #0969da;
    --color-segmented-control-bg: #eaeef2;
    --color-segmented-control-button-bg: #ffffff;
    --color-segmented-control-button-hover-bg: rgba(175,184,193,0.2);
    --color-segmented-control-button-active-bg: rgba(175,184,193,0.4);
    --color-segmented-control-button-selected-border: #8c959f;
    --color-tree-view-item-chevron-hover-bg: rgba(208,215,222,0.32);
    --color-tree-view-item-directory-fill: #54aeff;
    --color-fg-default: #1F2328;
    --color-fg-muted: #656d76;
    --color-fg-subtle: #6e7781;
    --color-fg-on-emphasis: #ffffff;
    --color-canvas-default: #ffffff;
    --color-canvas-overlay: #ffffff;
    --color-canvas-inset: #f6f8fa;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210,18%,87%,1);
    --color-border-subtle: rgba(31,35,40,0.15);
    --color-shadow-small: 0 1px 0 rgba(31,35,40,0.04);
    --color-shadow-medium: 0 3px 6px rgba(140,149,159,0.15);
    --color-shadow-large: 0 8px 24px rgba(140,149,159,0.2);
    --color-shadow-extra-large: 0 12px 28px rgba(140,149,159,0.3);
    --color-neutral-emphasis-plus: #24292f;
    --color-neutral-emphasis: #6e7781;
    --color-neutral-muted: rgba(175,184,193,0.2);
    --color-neutral-subtle: rgba(234,238,242,0.5);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-accent-muted: rgba(84,174,255,0.4);
    --color-accent-subtle: #ddf4ff;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-success-muted: rgba(74,194,107,0.4);
    --color-success-subtle: #dafbe1;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-attention-muted: rgba(212,167,44,0.4);
    --color-attention-subtle: #fff8c5;
    --color-severe-fg: #bc4c00;
    --color-severe-emphasis: #bc4c00;
    --color-severe-muted: rgba(251,143,68,0.4);
    --color-severe-subtle: #fff1e5;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-danger-muted: rgba(255,129,130,0.4);
    --color-danger-subtle: #ffebe9;
    --color-open-fg: #1a7f37;
    --color-open-emphasis: #1f883d;
    --color-open-muted: rgba(74,194,107,0.4);
    --color-open-subtle: #dafbe1;
    --color-closed-fg: #d1242f;
    --color-closed-emphasis: #cf222e;
    --color-closed-muted: rgba(255,129,130,0.4);
    --color-closed-subtle: #ffebe9;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
    --color-done-muted: rgba(194,151,255,0.4);
    --color-done-subtle: #fbefff;
    --color-sponsors-fg: #bf3989;
    --color-sponsors-emphasis: #bf3989;
    --color-sponsors-muted: rgba(255,128,200,0.4);
    --color-sponsors-subtle: #ffeff7;
    --color-primer-fg-disabled: #8c959f;
    --color-primer-canvas-backdrop: rgba(31,35,40,0.5);
    --color-primer-canvas-sticky: rgba(255,255,255,0.95);
    --color-primer-border-active: #fd8c73;
    --color-primer-border-contrast: rgba(31,35,40,0.1);
    --color-primer-shadow-highlight: inset 0 1px 0 rgba(255,255,255,0.25);
    --color-primer-shadow-inset: inset 0 1px 0 rgba(208,215,222,0.2);
    --color-scale-black: #1F2328;
    --color-scale-white: #ffffff;
    --color-scale-gray-0: #f6f8fa;
    --color-scale-gray-1: #eaeef2;
    --color-scale-gray-2: #d0d7de;
    --color-scale-gray-3: #afb8c1;
    --color-scale-gray-4: #8c959f;
    --color-scale-gray-5: #6e7781;
    --color-scale-gray-6: #57606a;
    --color-scale-gray-7: #424a53;
    --color-scale-gray-8: #32383f;
    --color-scale-gray-9: #24292f;
    --color-scale-blue-0: #ddf4ff;
    --color-scale-blue-1: #b6e3ff;
    --color-scale-blue-2: #80ccff;
    --color-scale-blue-3: #54aeff;
    --color-scale-blue-4: #218bff;
    --color-scale-blue-5: #0969da;
    --color-scale-blue-6: #0550ae;
    --color-scale-blue-7: #033d8b;
    --color-scale-blue-8: #0a3069;
    --color-scale-blue-9: #002155;
    --color-scale-green-0: #dafbe1;
    --color-scale-green-1: #aceebb;
    --color-scale-green-2: #6fdd8b;
    --color-scale-green-3: #4ac26b;
    --color-scale-green-4: #2da44e;
    --color-scale-green-5: #1a7f37;
    --color-scale-green-6: #116329;
    --color-scale-green-7: #044f1e;
    --color-scale-green-8: #003d16;
    --color-scale-green-9: #002d11;
    --color-scale-yellow-0: #fff8c5;
    --color-scale-yellow-1: #fae17d;
    --color-scale-yellow-2: #eac54f;
    --color-scale-yellow-3: #d4a72c;
    --color-scale-yellow-4: #bf8700;
    --color-scale-yellow-5: #9a6700;
    --color-scale-yellow-6: #7d4e00;
    --color-scale-yellow-7: #633c01;
    --color-scale-yellow-8: #4d2d00;
    --color-scale-yellow-9: #3b2300;
    --color-scale-orange-0: #fff1e5;
    --color-scale-orange-1: #ffd8b5;
    --color-scale-orange-2: #ffb77c;
    --color-scale-orange-3: #fb8f44;
    --color-scale-orange-4: #e16f24;
    --color-scale-orange-5: #bc4c00;
    --color-scale-orange-6: #953800;
    --color-scale-orange-7: #762c00;
    --color-scale-orange-8: #5c2200;
    --color-scale-orange-9: #471700;
    --color-scale-red-0: #ffebe9;
    --color-scale-red-1: #ffcecb;
    --color-scale-red-2: #ffaba8;
    --color-scale-red-3: #ff8182;
    --color-scale-red-4: #fa4549;
    --color-scale-red-5: #cf222e;
    --color-scale-red-6: #a40e26;
    --color-scale-red-7: #82071e;
    --color-scale-red-8: #660018;
    --color-scale-red-9: #4c0014;
    --color-scale-purple-0: #fbefff;
    --color-scale-purple-1: #ecd8ff;
    --color-scale-purple-2: #d8b9ff;
    --color-scale-purple-3: #c297ff;
    --color-scale-purple-4: #a475f9;
    --color-scale-purple-5: #8250df;
    --color-scale-purple-6: #6639ba;
    --color-scale-purple-7: #512a97;
    --color-scale-purple-8: #3e1f79;
    --color-scale-purple-9: #2e1461;
    --color-scale-pink-0: #ffeff7;
    --color-scale-pink-1: #ffd3eb;
    --color-scale-pink-2: #ffadda;
    --color-scale-pink-3: #ff80c8;
    --color-scale-pink-4: #e85aad;
    --color-scale-pink-5: #bf3989;
    --color-scale-pink-6: #99286e;
    --color-scale-pink-7: #772057;
    --color-scale-pink-8: #611347;
    --color-scale-pink-9: #4d0336;
    --color-scale-coral-0: #fff0eb;
    --color-scale-coral-1: #ffd6cc;
    --color-scale-coral-2: #ffb4a1;
    --color-scale-coral-3: #fd8c73;
    --color-scale-coral-4: #ec6547;
    --color-scale-coral-5: #c4432b;
    --color-scale-coral-6: #9e2f1c;
    --color-scale-coral-7: #801f0f;
    --color-scale-coral-8: #691105;
    --color-scale-coral-9: #510901;
    --blue: #6495ed;
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-12: 0.75rem;
    --base-size-16: 1rem;
    --base-size-20: 1.25rem;
    --base-size-24: 1.5rem;
    --base-size-28: 1.75rem;
    --base-size-32: 2rem;
    --base-size-36: 2.25rem;
    --base-size-40: 2.5rem;
    --base-size-44: 2.75rem;
    --base-size-48: 3rem;
    --base-size-64: 4rem;
    --base-size-80: 5rem;
    --base-size-96: 6rem;
    --base-size-112: 7rem;
    --base-size-128: 8rem;
}

/*********************** HEADER******************** */

/* header-1-div */
header{
background: var( --color-page-header-bg);
padding: 10px 12px;
border-bottom: 1px solid var(--color-border-default);
width: 100vw;
position: relative;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}
.header-logo{
display: flex;
align-items: center;
gap: 10px;
position: relative;
}

.header-logo .menu-1{
    font-size: 16px;
}
.menu-1-button{
border:1px solid var(--color-border-default);
background: transparent;
border-radius: 6px;
width: 2rem;
height: 2rem;
box-sizing:  0.1px #eaeaea;
display: flex;
justify-content: center;
align-items: center;
}
.material-symbols-outlined{
color: var(--color-fg-muted);
font-size: 20px !important;
}

.logo-1{

}
.logo-1 img{
    height:var(--base-size-44) ;
    width:var(--base-size-44)  ;
}
.dashboard{

}
.dashboard span{
    font-weight: 600;
    font-size: 14px;
  cursor: pointer;
    padding: 7px 6px;
    border-radius: 5px;

}
.dashboard span:hover{
    background:var(--color-action-list-item-default-hover-bg);
    
}

/* js-menu */
.menu-list{
    width: 24vw;
    border-top-right-radius: 15px;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid var(--color-border-default);
    display: none;
    z-index: 9;
}
.menu-all{
   height: 100%;
}
.menu-list-s1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 10%;
}
.cancel{
    padding: 5px 5px;
    border-radius: 4px;
    display: flex;
    color: var(--color-scale-gray-1);

}
.cancel:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
    color:var(--color-scale-gray-9) ;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}
.logo-2 img{
    height:var(--base-size-44) ;
    width:var(--base-size-44)  ;
}
.menu-icon-section1-head{
    overflow-y: scroll;
    height: 90%;
    padding: 0.5rem;

}
.menu-icon-1{
    border-bottom: 1px solid var(--color-border-default);
    max-width: 95%;
    padding-bottom: 8px;
    margin-bottom: 5px;

}
.common-icon-2{
    padding: 10px;
    max-width: 95%;
}
.common-icon-2:hover{
background-color: var(--color-btn-hover-bg);
border-radius: 5px;
}
.common-icon-2 .anchor-2 {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.common-icon-2 .anchor-2 span{
   color: var(--color-fg-default);
   font-size: 0.875rem;
   padding-left: 8px;

}
.menu-icon-3{
    border-bottom: 1px solid var(--color-border-default);
    max-width: 95%;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
.icon-3-search{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 0.5rem;
}
.repo-text{
    color: var(--color-fg-muted);
    font-size: 0.775rem;
    font-weight: 800;
}
.search{
    padding: 7px 7px;
    border-radius: 6px;
    display: flex;
    color: var(--color-scale-gray-1);
}
.search:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
    color:var(--color-scale-gray-9) ;
}
#srch-3-hidden2{
    display: none;
    margin-bottom: 0.8rem;
}
.repo-search-hidden{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.inner-srch-2{
display: flex;
justify-content: space-around;
align-items: center;
border: 1px solid var(--color-border-default);
border-radius: 6px;
padding: 7px 7px;
}
.inner-srch-2 .srch-3{
    
    display: flex;
}
.inner-srch-2 input{
    border: none;
    padding: 0px 4px;
    outline: none;
}
/* .inner-srch-2:hover {
    border:2px solid #0969da !important;
} */
.inner-srch-2 .search-3{
    border-radius: 6px;
    display: flex;
    color: var(--color-scale-gray-1);
}
.inner-srch-2 .search-3:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
    color:var(--color-scale-gray-9) ;
}
.upper-srch-2{
    padding: 7px 7px;
    border-radius: 6px;
    display: flex;
    color: var(--color-scale-gray-1);

}
.upper-srch-2:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
    color:var(--color-scale-gray-9) ;

}
.upper-srch-2 a{

}

.form{
    border: 1px solid red;
}
.profile-2{
    background-image: url("115875004.png");
    height:20px;
    width:20px ;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid var(--color-border-default);
}

.copyright-2{
    margin-top: 1rem;
    max-width: 95%;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
.copyright-2 p{
    font-size: 0.75rem;
    color: var(--color-fg-muted);
}
.copyright-2 ul{
display: flex;
text-align: center;
justify-content: space-between;
padding-top: 0.7rem;
}
.copyright-2 li{
list-style: none;
}
.copyright-2 li a{
font-size: 0.75rem;
text-decoration: none;
color: var(--color-accent-fg);
}
.copyright-2 li a:hover{
    text-decoration:underline;
    
}
/* Repo search */


/*******************/
.menu-list-2{
    width: 24vw;
    border-top-left-radius: 15px;
    height: 100vh;
    background-color: white;
    position: fixed;
    right:0;
    top: 0;
    border: 1px solid var(--color-border-default);
    z-index: 9;
}
.menu-all-2{
   height: 100%;
}
.menu-list-s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 10%;
}
.cancel-2{
    padding: 5px 5px;
    border-radius: 4px;
    display: flex;
    color: var(--color-scale-gray-1);

}
.cancel-2:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
    color:var(--color-scale-gray-9) ;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}


.logo-22 img{
    height:var(--base-size-32) ;
    width:var(--base-size-32)  ;
    border-radius: 50%;
}
.logo-22 a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo-22 span{
padding-left: 8px;
font-size: 14px;
color: var(--color-fg-default);
font-weight: 800;
}
.menu-icon-section2-head{
    overflow-y: scroll;
    height: 90%;
    padding: 0.5rem;

}
.menu-icon-2{
    border-bottom: 1px solid var(--color-border-default);
    max-width: 95%;
    padding-bottom: 8px;
    margin-bottom: 5px;

}
.common-icon-3{
    padding: 10px;
    max-width: 95%;
}
.common-icon-3:hover{
background-color: var(--color-btn-hover-bg);
border-radius: 5px;
}
.common-icon-3 .anchor-3 {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.common-icon-3 .anchor-3 span{
   color: var(--color-fg-default);
   font-size: 0.875rem;
   padding-left: 8px;

}
.sign-out-logo{
    border: none;
}
#openmenu2{
    display: none;
}




/* *************************** */

/* header- div - 2 -search ********************/
.header-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-fg-subtle);
    gap: 8px;
    margin-right: 1rem;
}
.octicon{

}
.header-srch-border{
   
   


}

.search-bar{
    display: flex;
    align-items: center;
   height:var(--base-size-32) ;
    border:1px solid var(--color-border-default);
    border-radius: 6px;
    

    
}
svg{
    fill: rgb(101, 109, 118);
}
.oc-1{
    cursor: pointer;
}
.oc-1:hover{
    background-color:var(--color-action-list-item-default-hover-bg);
    border-radius: 4px;
}

/* Start  */
.search-0012{
    position: absolute;
    width: 74.6vw;
    height: 75vh;
    background: #fff;
    top: 5px;
    left: 96px;
    border-radius: 8px;
    padding: 16px;
    z-index:10 ;
   
    
    
}
.search-0012-logo{
border: 1px solid var(--color-border-default);
width: 100%;
    display: flex;
    padding: 8px;
    border-radius: 6px;

}

.search-0012-input{
width: inherit;
background: transparent;
border: none;
outline: none;
padding: 0px 8px;
}
/* .driver-btn1:hover .dropdown-language{
    display: block !important;
    z-index: 2;
   
} */
.search-0012-logo:focus {
    border: 2px solid #0969da ;
}
.search-0012-list{
overflow-y: scroll;
height: calc(75vh - 34px);
}
.search-0012-owner{

}
.search-0012-owner>h1{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-fg-muted);
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}
.search-0012-owner .owner-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 6px;

}
.search-0012-owner .owner-list:hover{
    background-color: var(--color-btn-hover-bg);
    cursor: pointer;
}
.search-0012-owner .owner-list .owner-list-repo{
    display: flex;
    align-items: center;
    gap: 10px;

}
.search-0012-owner .owner-list .owner-list-repo>p{
    color: var(--color-fg-default);
    font-size: 14px;

}
.owner-list-ptag{
    font-size: 14px;
    
    color: var(--color-fg-muted);
}

/* End */

.slash-1{

}
.search-label{
    padding-right: 11rem;
    display: flex;
    cursor: pointer;
    padding-left:8px;

    border-right: 1px solid var(--color-border-default)
}
.slash-text{
font-size: 14px;
padding: 0px 10px;
}
.slash{
border:1px solid var(--color-fg-subtle);
padding: 0px 4px;
border-radius: 5px;
}
.srch-btn-1{
    border: none;
    background: transparent;
    height: 100%;
    padding: 0px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.srch-btn-1:hover{

}


 .header-button-common{
    display: flex;
    justify-content: center;
    align-items: center;
    height:var(--base-size-32) ;
    width:var(--base-size-32);
     
   
    border:1px solid var(--color-border-default);
    border-radius: 6px;
 }
.searchbar-line{
    height:var(--base-size-32) ;
    width: 1px;
    height: 1.4rem;
    background:  var(--color-border-default);
}



/* create-file */
.create-file{
position: relative;
}
.create-file-span-1{
    display: flex;
}
.create-file-btn{
    padding: 0px 27px;
   
}
.create-file-btn .plus{
    gap: 3px;
}
/* hidden */
#addfile-hidden{
    display: none;
}
.header-srch-border-hidden{
background-color: white;
min-width: 193px;
position: absolute;
padding: 10px;
margin-top: 0.5rem;
border-radius: 8px;
left: -234%;
box-shadow: var(--color-overlay-shadow);
}
.header-srch-border-hidden ul{
    
}
.header-srch-border-hidden ul li{
    list-style: none;
    padding: 7px;
}
.header-srch-border-hidden ul li:hover{
background-color: var(--color-btn-hover-bg);
border-radius: 6px;
}
.header-srch-border-hidden ul li a{
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--color-fg-default);
}
.header-srch-border-hidden ul li a .add-spanlogo-2{
  display: flex;   
}
.header-srch-border-hidden ul li a .add-spantext-2{
   padding-left: 8px;
}
.line-break-addfile{
height: 1px;
background: var(--color-border-default);
padding: 0px !important;
margin-top: 6px;
margin-bottom: 6px;
}
/* search issue */
.search-issues{

}
.plus{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* profile */

.profile{
    background-image: url("115875004.png");
    height:35px;
    width:35px ;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid var(--color-border-default);
    cursor: pointer;
}
.profile-logo{
   
 }
 /* hover-in icon */
 .create-file:hover   {
    background-color: var(--color-action-list-item-default-hover-bg);
    cursor: pointer;
 }
 .search-issues:hover{
    background-color: var(--color-action-list-item-default-hover-bg);
    cursor: pointer;
 }
 .pull-request:hover{
    background-color: var(--color-action-list-item-default-hover-bg);
    cursor: pointer;
 }
 .notification:hover{
    background-color: var(--color-action-list-item-default-hover-bg);
    cursor: pointer;
 }
 /* end */

 /* section-1 */
 #section-1{

position: relative;
 }
 .section-box-1{
    width: 24vw;
    background-color: white;
    height: 89vh;
    /* overflow-y: auto; */
    
    border-right: 1px solid var(--color-border-default);
    padding: 45px 30px 30px 30px;

    
}
 .section-box-1 .section-box-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .section-box-1 .section-box-part1 h3{
font-size: 14px;
color: rgb(31, 35, 40);
 }
 .section-box-1 .section-box-part1 button{
background-color: rgb(31, 136, 61);
border-radius: 6px;
border: none;
 }
 .section-box-1 .section-box-part1 button a{
text-decoration: none;
color: #fff;
font-size: 0.75rem;
display: flex;
align-items: center;
padding: 6px 9px;
gap: 5px;
 }
 .section-box-1 .section-box-part1 button a .repo0090{
display: flex;
 }
 .section-box-1 .section-box-part1 button a .repo0091{

 }
 .repo-2202{
    fill: white;
 }
 .section-box-part2{
width: 100%;
margin-top: 0.5rem;
 }
 .section-box-part2 input[type=text]{
    width: 100%;
    padding: 8px 14px;
    font-weight: 500;
    font-size: 13px;
    background: var(--color-page-header-bg);
    border-radius: 7px;
    border: 1px solid var(--color-border-default);
     outline: none;
     height: 2.063rem;
}
 .section-box-part2 input[type=text]:focus {
    border: 2px solid #0969da;
    outline: none;
   
  }
 

  .section-box-part3{
    margin-top: 1rem;

  }
  .section-box-part3 a{
    text-decoration: none;
    color: rgb(31, 35, 40);
    display: flex;
    align-items: center;
    padding-bottom: 9px;
  }
  .section-box-part3 a:hover{
    text-decoration: underline;
  }
  .section-box-part3 a img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .section-box-part3 a p{
    font-size: 14px;
    padding-left: 8px;
  }
  .show-more{

  }
  .show-more>p{
    cursor: pointer;
    color: rgb(31,35,40);
    font-size: 12px;
    margin-top: 0.7rem;
  }
  .show-more .show-more-hidden{
    display: none;
  }

  .section-box-part4{
margin-top: 2rem;
  }
  .section-box-part4 h3{
    font-size: 14px;
color: rgb(31, 35, 40);
  }
  .section-box-part4 .section-box-part4-10012{
margin-top: 0.7rem;
border: 1px solid var(--color-border-default);
border-style: dashed;
padding: 15px;
  }
  .section-box-part4 .section-box-part4-10012 p{
font-size: 12px;
color: var(--color-fg-muted);
  }